body {
  background-color: #b7b9ba;
  width: 100%;
  font-family: raleway;
  margin: auto;
}

main {
  background-color: #737a85;
  width: 70vw;
  margin-top: 50px;
  margin: auto;

}

header {
  height: 10vh;
  background-color: #003049;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom: 30px;
}


#logo{
  margin-left:30px;
  display:flex;
  flex-direction:row;
  align-items:center;
}

h2 {
  color:white;
  font-weight: bold;
}

.h2-info {
  color: black;
  padding-bottom: 10px;
}

#city-name {
  font-weight: bold;
}

a{
  margin-right:15px;
  color:white;
  transition: 1s;
  text-decoration: none;
  padding-right: 50px;
}



img {
  border-radius: 15px;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 40px;
}

article {
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  padding: 50px;
}


button {
  margin-top: 10px;
  transition: 350ms;
  width: 350px;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(228, 179, 190);
  color: rgb(247, 54, 86);
}


footer {
  background-color: #003049;
  width: 94%;
  padding: 50px;
  margin-top: 20 px;
  display: flex;
  justify-content: center;
}

#card-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height: 30vh;
  margin-bottom: 20px;
}

#family-container {
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 40px;
}

.animal-card{
  display:flex;
  flex-direction:column;
  margin:15px;
  background-color: #003049;
  padding: 10px;
  color: white;
  align-items: center;
  border-radius: 15px;
}

.animal-image{
  border-radius: 15px;
  height: 200px;
  width: 200px;
    
}

.shirt-image {
  padding: 20px;
}

.location {
  background-color: white;
  padding: 10px;
  height: 230px;
  margin-bottom: 10px;
}

.hours-div {
  background-color: white;
  padding: 10px;
  height: 60px;
  /* margin-bottom: 10px; */
}

footer {
  height: 50px;
  bottom: 0;
  background-color: #003049;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.email-sign-up {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
  
#quip { 
  margin-left: 20px;
}
  
#email-input {
  margin-left: 10px;
  width: 200px;
  height: 30px;
}

#email-btn {
  width: 100px;
}


.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ad719a;
  margin: 20px;
}
  
/* p {
  overflow: auto;
}  */
