header {
  background-color: #632f43;
  color: white;
  padding: 15px 20px 15px 15px;
}

a {
  color: white;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
}

fieldset {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #7a5362;
  margin: 10px;
  padding: 40px;
  padding-left: 30px;
  border-radius: 20px;
  height: 150px;
}

form {
  background-color: rgb(62, 85, 105);
}

td {
  padding: 10px;
  border: 1px solid black;
  width: 30px
}

th {
  padding: 6px;
  font-weight: bold;
}