header {
  background-color: #632f43;
  color: white;
  padding: 15px 20px 15px 15px;
}

a {
  color: white;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
}

section:hover {
  box-shadow: 0 0 50px black;
}


div {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #7a5362;
  margin: 10px;
  padding: 20px;
  padding-left: 30px;
  border-radius: 20px;
}

div:hover {
  transform: scale(1.01,1.01);
  box-shadow: 0 0 50px black;
}

div:active {
  transform: scale(0.8,0.8);
}

ul {
  margin-top: 20px;
  list-style-type: disc;
}

table, th, td {
  padding: 10px;
  border: 1px solid black;
}

thead {
  border: 0;
}
